root {

  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {

  overflow: hidden;
}

.page-wrapper {

  display: flex;

}

.menu {

  width: 15vw;
  height: 100vh;
  color: black;
  background-color: white;


}

.menu-items {

  list-style: none;
  color: black;


}

.content {
  width: 85vw;
  height: 100vh;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: teal;
}

.test {

  height: 2000px;
  width: 100%;

}













