root {
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.App {
  overflow: hidden;
  /* overflow-y: hidden; */

}

.intro-part p {

  font-weight: light;
}

.page-wrapper {
  display: flex;
  overflow: hidden;

}

.menu {
  width: 15vw;
  height: 100vh;
  color: black;
  background-color: white;

}

.menu-items {
  list-style: none;
  color: black;
  margin: 10px;

}

.menu-items li {
  border-bottom: 1px solid grey;
  padding: 21px


}

.content {
  width: 85vw;
  height: 100vh;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(24, 85, 85);
}

.intro-part {
  text-align: center;
  font-weight: light;
  padding-top: 160px;
  height: 400px;
}

.projects {

  height: 1000px;
  text-align: center;
  background-color: black;
}

.skills {
  height: 1000px;
  text-align: center;
  background-color: grey;

}
.experiences {
  background-color: black;
  height:800px;
  text-align: center;
}



::-webkit-scrollbar {
  display: none;
}